@import '~styles/config';

$blue: #4051b6;
$yellow: #ffc600;
$pink: #ec8d87;

.button {
  @include reset-button;

  display: inline-flex;
  justify-content: center;

  position: relative;

  min-width: 175px;

  padding: 14px 36px;

  font-size: 14px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  color: #fff;

  cursor: pointer;

  border-radius: 27px;

  transition: 180ms;
  transition-property: border-color, background-color, color, opacity;

  @media (min-width: $min-840) {
    min-width: inherit;

    padding: 16px 60px;
  }

  & + & {
    margin-top: $gutter / 2;

    @media (min-width: $min-1200) {
      margin-top: 0;
      margin-left: $gutter / 2;
    }
  }

  &:hover,
  &:focus {
    outline: none;
  }

  &.pink {
    color: #000;

    background-color: $pink;

    &:hover {
      background-color: darken($pink, 2%);
    }
  }

  &.white {
    color: #000;

    background-color: #fff;

    &:hover {
      background-color: darken(#fff, 5%);
    }
  }

  &.orange {
    color: #fff;

    background-color: #ec6a62;

    &:hover {
      background-color: darken(#ec6a62, 5%);
    }
  }

  &.disabled {
    cursor: default;

    background-color: #bbb;
  }
}
