@import '~styles/config';

$btn-height: 54px;

.button {
  @include reset-button;

  display: inline-flex;
  position: relative;

  padding: 0 65px;

  height: $btn-height;

  font-size: $font-size;
  line-height: $btn-height;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  color: #fff;

  cursor: pointer;

  border-radius: 27px;

  background-color: $color-blue;

  transition: 180ms;
  transition-property: border-color, background-color, color, opacity;

  & + & {
    margin-left: $gutter / 2;
  }

  &:hover,
  &:focus {
    outline: none;
  }

  &:hover {
    background-color: darken($color-blue, 10%);
  }

  &.disabled {
    cursor: default;

    background-color: #bbb;
  }
}
