@import '~styles/config';

$btn-height: 54px;
$blue: #4051b6;
$yellow: #ffc600;
$pink: #ec8d87;

.button {
  @include reset-button;

  display: inline-flex;
  position: relative;

  padding: 0 65px;

  height: $btn-height;

  font-size: $font-size;
  line-height: $btn-height + 2;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  color: #fff;

  cursor: pointer;

  border-radius: 27px;

  transition: 180ms;
  transition-property: border-color, background-color, color, opacity;

  & + & {
    margin-top: $gutter / 2;

    @media (min-width: $min-1200) {
      margin-top: 0;
      margin-left: $gutter / 2;
    }
  }

  &:hover,
  &:focus {
    outline: none;
  }

  &.blue {
    background-color: $blue;

    &:hover {
      background-color: darken($blue, 5%);
    }
  }

  &.pink {
    color: #000;

    background-color: $pink;

    &:hover {
      background-color: darken($pink, 2%);
    }
  }

  &.white {
    color: #000;

    background-color: #fff;

    &:hover {
      background-color: darken(#fff, 5%);
    }
  }

  &.disabled {
    cursor: default;

    background-color: #bbb;
  }
}
