@import '~styles/config';

.subtitles {
  @media (max-height: $max-420) {
    bottom: 70px;
  }

  position: absolute;
  bottom: 140px;

  width: 100%;
  height: 40px;

  &__text {
    @include reset-paragraph;
    @include responsive-font(32, 46);

    font-family: $font-family-akagi;
    color: $color-orange;
    font-weight: 700;
    line-height: 0.783;
    text-align: center;
  }

  &__word {
    display: inline-flex;
    white-space: pre;
  }

  &__pointer {
    position: absolute;
    opacity: 0;

    width: 8px;
    height: 8px;

    background-color: $color-orange;
    border-radius: 50%;

    @media (min-width: $min-768) {
      top: -28px;

      width: 14px;
      height: 14px;
    }
  }
}
