@import '~styles/config';

.subtitles {
  position: absolute;
  bottom: 70px;

  width: 100%;

  @media (max-height: $max-420) {
    bottom: 70px;
  }

  @media (min-width: $min-960) {
    bottom: 140px;
  }

  &__text {
    @include reset-paragraph;
    @include responsive-font(32, 46);

    font-family: $font-family-akagi;
    color: $color-orange;
    font-weight: 700;
    line-height: 0.783;
    text-align: center;

    white-space: nowrap;
  }

  &__pointer {
    position: absolute;
    top: -18px;
    opacity: 0;

    width: 8px;
    height: 8px;

    background-color: $color-orange;
    border-radius: 50%;

    @media (min-width: $min-768) {
      top: -28px;

      width: 14px;
      height: 14px;
    }
  }
}
