@import '~styles/config';

.content {
  @include grid-col(12);

  align-self: center;
  margin-top: 35px;

  @media (min-width: $min-375) {
    margin-top: 65px;
  }

  @media (min-width: $min-960) {
    @include grid-col(6);

    align-self: center;

    margin-top: 0;
  }

  &__heading {
    @include heading(35,44);

    margin-bottom: 5px;

    color: #000;

    @media (min-width: $min-960) {
      color: #f8faf0;
    }
  }

  &__subheading {
    @include subheading(35, 44);

    margin-bottom: (30/44) * 1em;

    color: #999;

    @media (min-width: 360px) {
      margin-bottom: $gutter;
    }

    @media (min-width: $min-960) {
      color: #f8faf0;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (min-width: $min-1200) {
      flex-direction: row;
    }
  }
}
